.vscode/c_cpp_properties.json
sys/modules/examples/chall1/amd64
sys/modules/examples/chall1/cmd_chall.c
sys/modules/examples/chall1/krev.c
sys/modules/examples/chall1/i386
sys/modules/examples/chall1/krev.id0
sys/modules/examples/chall1/krev.id1
sys/modules/examples/chall1/krev.id2
sys/modules/examples/chall1/krev.kmod
sys/modules/examples/chall1/krev.nam
sys/modules/examples/chall1/krev.o
sys/modules/examples/chall1/krev.til
sys/modules/examples/chall1/krev.kmod.map
sys/modules/examples/chall1/machine
sys/modules/examples/chall1/x86
sys/modules/examples/chall2/Makefile
sys/modules/examples/chall2/chall.lua
sys/modules/examples/chall2/chall2.c
sys/modules/examples/luareadhappy/amd64
sys/modules/examples/luareadhappy/happy.lua
sys/modules/examples/luareadhappy/luareadhappy.o
sys/modules/examples/luareadhappy/luareadhappy.kmod
sys/modules/examples/luareadhappy/machine
sys/modules/examples/luareadhappy/x86
sys/modules/examples/chall1/Makefile
sys/modules/examples/chall1/Makefile
sys/modules/examples/luareadhappy/i386
sys/modules/examples/luareadhappy/luareadhappy.i64
sys/modules/examples/luareadhappy/luareadhappy.kmod.map
sys/modules/examples/luareadhappy/new.lua
sys/modules/examples/luareadhappy/happy.lua
sys/modules/examples/luareadhappy/happy.lua
